@page "/"
@using System.Web
@using TiskWASM.Shared.Forms
@inject HttpClient client
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<h2>Přidat zařízení zaměstnanci</h2>
<MudPaper Class="pa-4">
    <MudForm @ref="form">
        <MudPaper Class="d-flex gap-3 mb-4">            
            <UserSearchField @bind-User="@formUser"/>
        </MudPaper>

        <MudDivider />

        <MudPaper Class="d-flex gap-4 mb-4">
            <MudSelect @bind-Value="@solution.RequestedDevice" Label="Požadované zařízení" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                @foreach (var item in Devices)
                {
                    <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                }
            </MudSelect>
            <MudSelect @bind-Value="@solution.SuggestedDevice" Label="Navrhované zařízení" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                @foreach (var item in Devices)
                {   
                    <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>                
                }
            </MudSelect>
        </MudPaper>
        <MudTextField @bind-Value="@solution.Description" Label="Vyjádření, informace" Variant="Variant.Filled" Lines="4" />
    </MudForm>
</MudPaper>
<MudPaper Class="pa-4">
    @if (_loading)
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="true">
            <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
            Odesílám
        </MudButton>
    }
    else
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CreateSolution">Uložit</MudButton>
    }
</MudPaper>


@code {
    private MudForm form;
    private dtSolution solution = new dtSolution();
    private dtUser formUser = new dtUser();
    private List<dtDevice> Devices = new List<dtDevice>();
    private bool _loading = false;
    private string emailHelper = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        this.Devices = await client.GetFromJsonAsync<List<dtDevice>>("/api/device");
    }

    private async Task CreateSolution()
    {
        _loading = true;
        solution.UserId = formUser.Id;
        var result = await client.PostAsJsonAsync<dtSolution>("/api/solution", solution);
        if (result.IsSuccessStatusCode)
        {
            var entity = await result.Content.ReadFromJsonAsync<dtSolution>();
            Snackbar.Add($"Byl vytvořený záznam s ID: {entity.Id}", Severity.Success);
            this.formUser = new dtUser();
            this.solution = new dtSolution();
        }
        else
        {
            Snackbar.Add(await result.Content.ReadAsStringAsync(), Severity.Error);
        }

        _loading = false;
    }
}
